.services__container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 3rem;
}
.service {
    background: var(--color-bg-variant);
    border-radius: 0 0 2rem 2rem;
    border: 1px solid var(--color-primary);
    height: fit-content;
    transition: var(--transition);
}
.service:hover {
    background: transparent;
    border-color: var(--color-primary-variant);
    cursor: default;
}
.service__head {
    background: var(--color-primary);
    padding: 10px;
    border-radius: 0 0 2rem 2rem;
    box-shadow: 0 2rem 1rem rgba(0,0,0,0.1);
    display: flex;
    justify-content: center;
}
.service__head h3 {
    color: var(--color-bg);
    font-size: 1rem;
    text-align: center;
}
.service__list {
    padding: 1rem;
}
.service__list li {
    display: grid;
    gap: 1rem;
    margin-top: 0.8rem;
    grid-template-columns: 15px 1fr;
}
.service__list p {
    grid-template-columns:  1fr;
}
.service__list-icon {
    color: var(--color-primary);
    margin-top: 2px;
    font-size: 1rem;
}
.service__list p {
    font-size: 0.9rem;
}
.service__head img {
    height: 50px;
    width: auto;
    -webkit-filter: drop-shadow(5px 5px 5px #222);
    filter: drop-shadow(5px 5px 5px #222)
}

/* =================== MEDIA QUERIES (MEDIUM DEVICES) ======================= */
@media screen and (max-width: 1024px) {
    .services__container {
        grid-template-columns: 1fr 1fr;
        gap: 2rem;
    }
    .service {
        height: auto;
    }

}

/* =================== MEDIA QUERIES (SMALL DEVICES) ======================= */
@media screen and (max-width: 600px) {
    .services__container {
        grid-template-columns: 1fr;
        gap: 1.5rem;
    }
}