@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;600&display=swap');


.cv-container {
    width: 100%;
    min-height: 100vh;
    background-color: #94D9EA;
    display: flex;
}

.main-content {
    min-height: 100vh;
    width: 80%;
    margin: 2rem auto;
    display: grid;
    grid-template-columns: repeat(7, 1fr);
}

.left-section {
    grid-column: span 2;
    height: 100%;
    background-color: #00324A;
    margin-top: 0;
}

.right-section {
    grid-column: span 5;
    background-color: #f7f7f7;
    margin-top: 0;
}

.left-content {
    padding: 1rem 2rem;
}

.left-content .profile {
    width: 100%;
    border-bottom: 1px solid #002333;
}

.left-content .profile img {
    width: 100%;
    border-radius: 50%;
    border: 8px solid #002333;
}
.left-content .profile h2.cv-name {
    font-size: 2rem;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 1px;
    padding: 1.2rem 0;
}
.left-content .profile p.career{
    font-size: 1.2rem;
    color: #94D9EA;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 1px;
    padding-bottom: 1rem;
}
h3.main-title {
    font-size: 1.8rem;
    text-transform: uppercase;
    letter-spacing: 1px;
    color: #f7f7f7;
    padding-top: 3rem;
}
.left-content .contact-info ul {
    padding-top: 2rem;
}
.left-content .contact-info ul li {
    padding: .4rem 0;
    display: flex;
    align-items: center;
    color: #718096;
}
.left-content .contact-info ul li .cv-icon {
    margin-right: 1rem;
    font-size: 1.1rem;
    color: #2D9CDB;
}